@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-Regular.ttf');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.section {
    background-color: lightgray;
}


.bg-light {
    background: transparent !important;
    transition: 0.75s ease;
}

.bg-light.scrolled {
    background: white !important;
}

.navbar-brand {
    opacity: 0;
    transition: 0.75s ease;
}

.navbar-brand.scrolled {
    opacity: 1;
}

.navbar-nav {
    font-size: 18px;
}

.active {
    color: black !important;
}

.hero {
    background: url('images/bayley-clark-0v7BeBsQhCY-unsplash-widescreen.jpg');
    background-size: cover;
}

.hero h1,
h6 {
    font-family: Poppins;
    color: white;
    font-size: 120px;
    position: relative;
    top: -185px;
    left: 40px;
    text-shadow: 1px 1px lightgrey;
}

.hero h6 {
    font-size: 20px;
    top: -210px;
    left: 65px;
    text-shadow: none;
}

#photo-gallery1{
    background: url('images/Screenshot 2022-02-14 203304.jpg');
    background-size: cover;
    height: 100%;
}
.lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #fff;
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px
}

.lightbox-gallery .intro p {
    margin-bottom: 0
}

.lightbox-gallery .row {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}
.d-block .img-fluid{
height: 100%;
width: 100%;
}