@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: NunitoSans;
    src: url('fonts/NunitoSans-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.section {
    background-color: #FCFCFC;
}


.bg-light {
    background: transparent !important;
    transition: 0.75s ease;
}

.bg-light.scrolled {
    background: white !important;
    box-shadow: 2px 2px 80px 5px lightgrey;
}

.navbar-brand {
    opacity: 0;
    transition: 0.75s ease;
}

.navbar-brand.scrolled {
    opacity: 1;
}

.navbar-nav {
    font-size: 18px;
}

.active {
    color: black !important;
}

.hero {
    background: url('images/bayley-clark-0v7BeBsQhCY-unsplash-widescreen.jpg');
    background-size: cover;
}

.hero h1,
.hero h6 {
    font-family: Poppins;
    color: white;
    font-size: 120px;
    position: relative;
    top: -185px;
    left: 40px;
    text-shadow: 1px 1px lightgrey;
}

.hero h6 {
    font-size: 20px;
    top: -210px;
    left: 65px;
    text-shadow: none;
}

.lightbox-gallery h2 {
    font-family: NunitoSans;
    font-weight: bold;
    padding-top: 40px;
    color: black;
}
.lightbox-gallery p {
    font-size: 20px;
    margin-bottom: 40px;
    padding-top: 0;

}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .row {
    padding-bottom: 20px
}

.lightbox-gallery .item {
    padding-bottom: 30px
}
