@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins-Regular.ttf');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html {
    scroll-behavior: smooth;
  } */
body{
    position: relative;
}

.section {
    background-color: lightgray;
}


.bg-light {
    background: transparent !important;
    transition: 0.75s ease;
}

.bg-light.scrolled {
    background: white !important;
}

.navbar-brand {
    opacity: 0;
    transition: 0.75s ease;
}

.navbar-brand.scrolled {
    opacity: 1;
}

.navbar-nav{
    font-size: 18px;
    color: black;
}

.hero {
    background: url('images/bayley-clark-0v7BeBsQhCY-unsplash-widescreen.jpg');
    background-size: cover;
}

.hero h1,
h6 {
    font-family: Poppins;
    color: white;
    font-size: 120px;
    position: relative;
    top: -185px;
    left: 40px;
    text-shadow: 1px 1px lightgrey;
}

.hero h6 {
    font-size: 20px;
    top: -210px;
    left: 65px;
    text-shadow: none;
}